html{
    height: 100%;
}

.tag{
    background-color: blue;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
}

.tad{
    background-color: grey;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
}

.tas{
    background-color: green;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
}

.tah{
    background-color: red;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
}

.tar{
    background-color: sandybrown;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 10px 10px;
       
}

.taw{
    background-color: aqua;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;

}

.tay{
    background-color: whitesmoke;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 10px 10px;
}

.tak{
    background-color: darkslategrey;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
}

.taz{
    background-color: white;
    border: none;
    color: blue;
    border-radius: 10px;
    padding: 10px 10px;
}


